//Colors
$link-color: #1770b8;
$gray-color: #F5F5F7;
$icon-color: #AAACB3;
$primary-color: #283040;
$secondary-color: #4D5264;
$text-color: #283040;
$over-link-color: #E6EFFC;
$text-white-color: #E6EFFC;
//$over-link-color: #c6e1f7;

//Font Size
$text-size: 0.7rem;
$title-size: 1rem;

$border-radius: 0.625rem;
