@import "/src/styles/variables";

.main-wrapper {
  background-image: radial-gradient(circle at 5.83% 12.93%, #5675a8 0, #283040 50%, #000000 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .box {
    max-width: 28rem;
    @media (max-width: 768px) {
      max-width: 90% !important;
    }
  }

  mat-card{
    border-radius: $border-radius;
  }

  .example-form {
    min-width: 100%;
    max-width: 30rem;
  }

  .example-full-width, .btn-block {
    width: 100%;
  }

  mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }

  mat-card-header mat-card-title {
    font-size: 1.875rem;
    margin: 0;
  }

  .mat-card {
    padding: 3rem;
    @media (max-width: 768px) {
      padding: 2.8rem 2rem 3.4rem;
    }
  }

  .mat-stroked-button {
    border: 1px solid $link-color;
    color: #fff;
    background: $link-color;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
  }

  .forgot-pass{
    cursor: pointer;
    :hover{
      color: $link-color;
    }
  }

  h1{
    margin-bottom: 0.5rem !important;
  }
}
