@import "/src/styles/variables";

.main-wrapper {
  background-image: radial-gradient(circle at 5.83% 12.93%, #506690 0, #283040 50%, #384c74 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    max-width: 28rem;
    @media (max-width: 768px) {
      max-width: 90% !important;
    }
  }

  mat-card{
    border-radius: $border-radius;
  }

  .form-full-width, .btn-block {
    width: 100%;
  }

  mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }

  mat-card-header mat-card-title {
    font-size: 1.875rem;
    margin: 0;
  }

  .mat-card {
    padding: 3rem;
    @media (max-width: 768px) {
      padding: 2.8rem 2rem 3.4rem;
    }
  }

  .mat-stroked-button {
    border: 1px solid $link-color;
    color: #fff;
    background: $link-color;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
  }

  .forgot-pass{
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    :hover{
      color: $link-color;
    }
  }

  h1{
    margin-bottom: 0.5rem !important;
  }

  //Buttons Centered
  .btn-center{
    margin: 0 auto;
    display: flex;
  }

  h1.mt-4{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span.mt-4{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

}
